@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas (por ejemplo, teléfonos) */
    .imagen-container {
      flex-direction: column; /* Cambia la dirección del contenedor a columna */
    }
  }
  .imagen {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  }
  .imagen {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  }
   


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbad0;
}

header {
    background-color:#ffb1f9;   color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

.animated-title {
    animation: fadeIn 2s ease-in-out;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#f8baed;
    color: #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 70px;


    
}

#mensaje {
    margin-bottom: 100px;
}

#mensaje p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    
}

#galeria {
    text-align: center;
}
h2{
    font-size: 18px;
    line-height: 1.6;
}
.imagen {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px auto; /* Centra horizontalmente y agrega espacio vertical */
    display: block; /* Asegura que el elemento sea un bloque */
    border-radius: 5px;
    margin-bottom: 20px; 
    transition: transform 0.3s ease-in-out;
    
}


.imagen:hover {
    transform: scale(1.1);
}



footer {
    text-align: center;
    padding: 0%;
    background-color:#ffb1f9;    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    bottom: 0px;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Estilos para tus imágenes */
.imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  }
  
  .imagen {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    cursor: pointer;
    opacity: 0; /* Todas las imágenes están inicialmente ocultas */
    transition: opacity 0.5s ease; /* Transición suave de opacidad */
  }
  .indicacion {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 10px; /* Ajusta el espacio entre las imágenes y el pie de imagen */
  }
  